html,
body,
#app {
  height: 100%;
  background-color: #fff;
  cursor: pointer;
}

.container {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  background-color: #eff3f4;
}


/*定位*/
.fr {
  float: right;
}

.fl {
  float: left;
}

.auto {
  overflow: hidden;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.tl {
  text-align: left;
}

.tm {
  vertical-align: middle;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.clear:after {
  content: '';
  clear: both;
  height: 0;
  display: block;
}

.clearfix {
  display: block;
}

.flex {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}

.flex-start {
  -webkit-box-pack: start;
  -moz-justify-content: start;
  -webkit-justify-content: start;
  justify-content: start;
}

.flex-between {
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*单行文本溢出隐藏*/
.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*多行文本溢出隐藏*/
.more-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /*两行文本*/
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}